mixin brand_item(url)
    div.brand_item
        a(href='#')
            img(src=url alt='brand')

mixin single_banner(url)
    .single_banner
        .banner_item
            a(href='#')
            img(src=url alt='tools')

mixin product_area_item(primary_url, secondary_url)
    .product_item
        .product_thumb
            a.primary_img(href='#')
                img(src=primary_url alt='')
            a.secondary_img(href='#')
                img(src=secondary_url alt='')
            .product_label
                span.label_sale -8%
            .action_links
                ul
                    li.wishlist
                        a(href='wishlist.html' title='add to wishlist')
                            ion-icon(name='heart-outline')
                    li.compare
                        a(href='compare.html' title='compare')
                            ion-icon(name='repeat-outline')
            .add_to_cart
                a(href='cart.html' title='add to cart') Add to cart
        .product_content
            p.manufacture_content
                a(href='#') Product name
            h4
                a(href='product-details.html') Product details
            .price_box
                span.old_price $10.00
                span.current_price $9.00

mixin categories_product_item(first_url, second_url)
    .product_item
        .single_product
            .product_thumb
                a.primary_img(href='#')
                    img(src=first_url alt='')
            .product_content
                h4 Tops & Sets
                ul
                    li
                        a(href='#') tank tops
                    li
                        a(href='#') tank tops
                    li
                        a(href='#') tank tops
                    li
                        a(href='#') tank tops
                a(href='#') Show all
        .single_product
            .product_thumb
                a.primary_img(href='#')
                    img(src=second_url alt='')
            .product_content
                h4 Tops & Sets
                ul
                    li
                        a(href='#') tank tops
                    li
                        a(href='#') tank tops
                    li
                        a(href='#') tank tops
                    li
                        a(href='#') tank tops
                a(href='#') Show all

mixin featured_product_item(first_url, second_url)
    .product_item
        .single_product
            .product_thumb
                a.primary_img(href='product-details.html')
                    img(src=first_url alt='product')
            .product_content
                p.manufacture_product
                    a(href='#') Brand
                h4
                    a(href='product-details.html') Model
                .price_box
                    span.old_price $3.00
                    span.current_price $2.00
        .single_product
            .product_thumb
                a.primary_img(href='product-details.html')
                    img(src=second_url alt='product')
            .product_content
                p.manufacture_product
                    a(href='#') Brand
                h4
                    a(href='product-details.html') Model
                .price_box
                    span.old_price $3.00
                    span.current_price $2.00

mixin shipping_area_item(icon_class, item_text)
    .shipping_item
        .shipping_icon
            i(class=icon_class)
        .shipping_content
            h3=item_text


//- пример +breadcrumbs(['index.html', 'home'], ['catalog.html', 'catalog'], ['login'])
//- на выходе имеем вид: Home/Catalog/Login

mixin breadcrumbs(...items)
    .breadcrumb
        .container
            .breadcrumb_content
                ul
                    each item in items
                        if item[1]
                            li
                                a(href=item[0])=item[1]
                        else
                            li=item[0]

mixin shop_checkbox(title, ...text_items)
    h2=title
    ul
        each text in text_items
            li
                input(type='checkbox')
                a(href='#')=text
                span.checkmark

mixin pagination
    .pagination
        ul
            li.current 1
            li
                a(href='#') 2
            li
                a(href='#') 3
            li.next
                a(href='#') next
            li
                a(href='#') >>
